
/* Makeshift CSS Reset */  
*{
    transition: 0.5s;
}
{   
    margin: 0;   
    padding: 0; 
}   
   
/* Tell the OLD browser to render HTML 5 elements as block */  
header, footer, aside, nav, article {   
    display: block;   
} 
header h1{
    font-family: 'sans-serif';
    font-size: 50px;
   
    color: #0e1262;
    width:  100%;
}  
   
body {   
    margin: 0 auto;      
    font: 13px/22px Arial, sans-serif;   
    background: #f0f0f0;
    background-color:#d6d9ff;

background-size: 50px 50px;
width: 940px; 
}   
   
h2 {   
    font-size: 28px;   
    line-height: 44px;   
    padding: 22px 0;   
}   
   
h3 {   
    font-size: 18px;   
    line-height: 22px;   
    padding: 11px 0;   
}   
   
p {   
    padding-bottom: 22px;   
} 
/* Navigation */ 
nav {   
    position: absolute;   
    left: 0;   
    width: 100%;   
    background-color: #6e7699;
    display: flex;
    justify-content: center;  
} 
    nav ul {   
        margin: 0 auto;     
        list-style: none;
        padding: 0;   
    } 
    nav ul li {   
        float: left;   
    }   
   
        nav ul li a {   
            display: block;   
            margin-right: 20px;   
            width: 140px;   
            font-size: 16px;   
            line-height: 44px;   
            text-align: center;   
            text-decoration: none;   
            color: #c4c8ff;   
        }   
   
            nav ul li a:hover {   
                color: #fff;   
            }   
   
        nav ul li.selected a {   
            color: #fff;   
        }   
   
       
/* Intro */ 
     #intro {   
    margin-top:100px;   
    padding: 44px; 
    background-color:#20718f;  
    background:  
            url("заяц.jpeg") top right /950px 100% ;
    border-radius: 22px;   
} 
    #intro h2, #intro p{   
        width: 336px; 
        font-family: 'Arial', serif;
          font-weight: bold;
        color: #c1ccff;
        font-size: 15px;  
    }   
   
    #intro h2 {   
        text-shadow: 1px 1px 2px #4f4e9c, 0 0 1em rgb(90, 90, 166), 0 0 0.2em rgb(106, 106, 180);
        padding: 0 0 22px 0;   
        font-weight: normal; 
        color: #a6b7ff;
        font-family: 'Arial', serif;
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
}     
    #intro p {   
        padding: 0; 
    } 

/* Content*/

#content {   
    display: table;   
}   
    #mainContent {   
        display: table-cell;   
        width: 620px;   
        padding-right: 22px;   
    }   
   
    aside {   
        display: table-cell;   
        width: 299px;
        background:#d6d9ff;
        background-image: url("pic/sidebar_background.png") top left;
        border-radius: 11px;

    }   

/* BlogPost */ 
.blogPost header p, .blogPost header p a {
        font-size: 14px;
        color: #777;
    }
    .blogPost header h2{
         font-family: 'Arial', sans-serif;
    font-size: 35px;
   
    color: #0e1262;
    }
    .blogPost div p{
      font-family: 'Arial', sans-serif;
        
    font-size: 15px;
    color: #3a4153;
    }
    
        .blogPost header p a:hover {
            text-decoration: none;
            color: #000;
        }
.blogPost div {   
column-count: 2;   
column-gap: 22px;   
} 
.blogPost header {   
        column-span: all;   
    } 
.blogPost img {   
    margin: 22px 0;   
    box-shadow: 3px 3px 7px #777;   
}
/*Comments*/

#comments {
    margin-top: 21px;
    padding-top: 22px;
    border-top: 1px solid #d7d7d7;
}
.commArticle {
        display: table;
        padding: 21px;
        background: #b0aeff; 
    border: 1px solid #8c9bd2;   
    border-radius: 11px; 

    }
    .commHeader h3{
        font-family: 'Arial', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #131b8b;
    }
    .commA{
        font-family: 'Arial', sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: #8c9bd2;
    }
    .commText{
       font-size: 14px;
        font-style: italic;
        color: #000;
    }
    .commTime{
        font-size: 12px;
        font-style: italic;
        color: #000;
    }

section#comments article:nth-child(2n+1) {   
    padding: 21px;   
    background: #8c9bd2;   
    border: 2px solid #c5c4ff;
    border-radius: 11px; }

    footer {
    position: absolute;
    left: 0;
    width: 100%;
    background: #6e7699;
}
#comments article header {
            display: table-cell;
            width: 220px;
            padding-right: 22px;
        }
    #comments article header a {
                display: block;
                font-weight: bold;
                color: #000;

            }
        #comments article header a:hover {
                    text-decoration: none ;

                }
/*Forma*/
form {
    margin-top: 21px;
    padding-top: 22px;
    border-top: 1px solid #d7d7d7;
}
form h3{font-family: 'Arial', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #131b8b;

}

    form p {
        display: table;
        margin-bottom: 22px;
        padding: 0 22px;
        font-family: 'Arial', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #131b8b;
    }

        form label {
            display: table-cell;
            width: 140px;
            padding-right: 20px;
            text-align: right;
            font-weight: bold;
            vertical-align: top;
        }
    
        form input[type="text"], form input[type="email"], form input[type="url"] {
            display: table-cell;
            width: 300px;
            height: 20px;
            border: 1px solid #c5c4ff;
            background-color: #8c9bd2;
            border-radius: 15px;

        }
        
        form textarea {
            width: 300px;
            height: 100px;
            border: 1px solid #c5c4ff;
            background-color: #8c9bd2;
            border-radius: 15px;
        }
        
        form input[type="submit"] {
            margin-left: 162px;
            border-radius: 11px;
            background-color: #8c9bd2;
            font-family: 'Arial';
        }
/*Side BAr*/
aside section {
    margin: 22px 0 0 22px;
    padding: 11px 22px;
    background: url("pic/sidebar_section_background.png") repeat-x;
    border-radius: 15px;
    background-color: #8c9bd2;
}
aside h3{
     font-family: 'Arial';
    font-weight: bold;
    color: #000000;
}

    aside section ul {
        list-style: circle;
    }
    
        aside section ul li a {
            display: block;
            text-decoration: none;
            color: #000;
            font-family: 'Arial', sans-serif;
    font-weight: bold;

        }
        
            aside section ul li a:hover {
                text-decoration: underline;
            }
/*Footer*/
    footer div {
        display: table;
        margin: 0 auto;
        padding: 44px 0;
        width: 100%;
        color: #3c3c3c;
    }
    
        footer div section {
            display: table-cell;
            width: 300px;
        }
        
        footer div #about, footer div #blogroll {
            padding-right: 20px;
        }
        
    footer h3 {
        color: #0e1262;
    }
    
    footer a {
        color: #383838;
    }
    
        footer a:hover {
            color: #ffffff;
            text-decoration: none;
        }
    
    footer ul {
        margin: 0 0 0 40px;
        list-style: square;
        color: #0e1262
    }
    
        footer ul li a {
            display: block;
        }

@media screen and (max-width: 950px) {
    body {
        width: 100%;
    }

    header{
        padding-left: 15px;
    }
}

@media screen and (max-width: 860px){
aside{
    display: none;
}
    #mainContent{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 90%;
        margin: auto;
        padding: 0;
    }

    article img{
        display: none;
    }
}
@media screen and (max-width: 540px) {
    footer div{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #comments article{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #intro p{
        width: auto;
    }

}

@media screen and (max-width: 540px) {

header h1{
    font-size: 30px;
}

    #intro h1{
        font-size: 20px;
    }

    #intro h2{
        width: auto;
    }
    .blogPost header h2{
        font-size: 20px;

    }
    .blogPost header p{
        font-size: 10px;

    }
    .blogPost header p a{
        font-size: 10px;

    }

    #intro h2 {
        font-size: 20px;
    }
    #intro p {
        font-size: 10px;
    }
    .blogPost div p{
    font-size: 10px;
    }
    #comments header h3{
        font-size: 25px;
    }
    #comments header a{
        font-size: 13px;
    }
    #comments article p{
        font-size: 10px;
    }
    #comments header time{
        font-size: 9px;
    }
    form h3{
        font-size: 20px;
    }

form p{
        font-size: 10px;
    }
    form textarea{
        width: 100%;
    }
    form input[type="text"], form input[type="email"], form input[type="url"] {
        width: 100%;
    }
    form input[type="submit"] {
        font-size: 8px;
    }
    #comments article {
        padding-top: 5px;
        padding-bottom: 0px;
    }
    section#comments article:nth-child(2n+1){
         padding-top: 5px;
        padding-bottom: 0px;
    }
    form label{
        width: 20%;
    }        
}


